<h1>Demonstartion of Custom pipe</h1>
<h2>Reverse the String</h2>
<h3>Name is : {{Name}}</h3>
<h3>Reverse format : {{Name | myRev}} </h3>

<h2>Add the number</h2>
<h3>Output for Addition : {{8 | myAdd :3}} </h3>

<h2>Multiply the number</h2>
<h3>Output for Addition : {{7 | myMult :3}} </h3>

<h2>To check number is Even,Odd,Prime,Perfect</h2>
<h2>Number : {{Num}}</h2>
<h3>Output for Even : {{Num | marvellousChk : "Even" }}</h3>
<h3>Output for Odd : {{Num | marvellousChk: "Odd"}}</h3>
<h3>Output for Prime : {{Num | marvellousChk : "Prime" }}</h3>
<h3>Output for Perfect : {{Num | marvellousChk : "Perfect" }}</h3>

<router-outlet />
